/* 
*	Master CSS Style Sheet
*	-Includes Fonts, Divs, and Format used by common elements
*
*	Last edited:	10/24/167
*	Last edited by:	David	
*/

.frameMain {
	margin:auto;
	width: 50%;
}

.headerMain {
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: normal;
}

.bodyMain {
	color: #222222;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: normal;
}
.bodyMain a {
	color: #222222;
	text-decoration: none;
}
.bodyMain a:hover {
	color: #186092;
	text-decoration: underline;
}