<!-- 
	Landing Page for Recipez
	
	Last edited:	10/24/17
	Last edited by:	David
 -->
 
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div class="frameMain">
<div class="headerMain">
	<img width="120px" style="display:inline-block; padding-right: 20px;" src="https://i.imgur.com/uXnytZy.png">
	<div style="display:inline-block;">
  		<h1>
    		Welcome to {{title}}!
  		</h1>
  	</div>
</div>
<div class="bodyMain">
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
  	<h2><a class="bodyMain" target="_blank" href="https://ee461lgroupproject.slack.com/messages">Team Slack Channel</a></h2>
  </li>
  <li>
  	<h2><a class="bodyMain" target="_blank" href="https://docs.google.com/document/d/1fThxSGMHfHVABnRYh8vtN04PW7IPw5QKXgnSttDXWBY/edit">Team Schedule</a></h2>
  </li>
  <li>
    <h2><a class="bodyMain" target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a class="bodyMain" target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a class="bodyMain" target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
</div>
</div>

